---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import BlogCard from "../components/BlogCard.astro";
import SkillsBadge from "../components/SkillsBadge.astro";
import { getCollection } from "astro:content";
import profilephoto from "../assets/images/profile_photo.jpeg"
import { AVTech, CSTech, SBTech } from "../utils/data";

interface BadgeProps {
  name: string;
  img: string;
  img_alt: string;
  link?: string;
}
const projects = (await getCollection("projects"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4);
---

<MainLayout title={"Marek Grabowski"}>
  <section class="relative isolate overflow-hidden">
    <!-- Header Introduction/Profile Image -->
    <div class="m-auto max-w-6xl px-6 lg:px-8 my-2">
      <div class="flex mx-auto gap-x-8 gap-y-16 flex-col sm:flex-row">
        <div class="md:w-1/2 sm:w-full">
          <h1
            class="text-4xl font-extrabold bg-gradient-to-r from-blue-600 to-purple-800 text-transparent bg-clip-text"
          >
            Marek Grabowski
          </h1>
          <h2
            class="text-lg font-bold bg-gradient-to-r from-blue-600 to-purple-800 text-transparent bg-clip-text"
          >
            Undergraduate Computer Science Student
          </h2>
          <p class="mt-10 text-md">
            Welcome to my corner of the internet! I'm an undergraduate student
            studying Computer Science at Central Connecticut State University.
            I'm currently exploring various aspects of the field. I also spend a
            lot of time tinkering with AV systems, focusing in sound, as a live
            sound engineer and video, primarly livestreaming but also video
            production and editing.
          </p>
        </div>
        <a
          href="./resume"
          class="mx-auto hover:scale-[102%] block drop-shadow-lg hoverImgEffect object-scale-down mb-4"
        >
          <Image
            class="m-1 h-72 aspect-square rounded-2xl"
            src={profilephoto}
            alt="Marek Grabowski"
            width="288"
            height="288"
            loading="eager"
          />
        </a>
      </div>
    </div>
    <!-- Areas of Interests -->
    <div class="m-auto max-w-6xl px-6 lg:px-8 my-2 mb-8">
      <h2 class="text-3xl font-extrabold text-blue-600 mb-6">
        Areas of Interest
      </h2>

      <h3 class="text-2xl font-extrabold text-blue-600 my-2">
        Computer Science
      </h3>
      <p class="text-md font-normal mb-4">
        I'm actively toying around with different parts of this vast field both
        in and outside of class. Here are some of my most recent and favorite
        langauges, technologies & frameworks:
      </p>
      <!-- Skills Badge Table -->
      <div
        class="flex flex-row items-center max-w-3xl m-auto flex-wrap overflow-auto"
      >
        {
          CSTech.map((tech: BadgeProps) => (
            <div class="md:w-1/3 sm:w-1/2 w-full px-4 py-2">
              <a href={tech.link} class="cursor-pointer text-black">
                <SkillsBadge {...tech} />
              </a>
            </div>
          ))
        }
      </div>
      <h3 class="text-2xl font-extrabold text-blue-600 my-2">Audio Visual</h3>
      <p class="text-md font-normal mb-4">
        I've been heavily interested in the AV field since high school, in the
        past few years I've spent plently of time learning, developing skills,
        and actively applying my skills in these areas, technologies, and tools:
      </p>
      <!-- Skills Badge Table -->
      <div
        class="flex flex-row items-center max-w-3xl m-auto flex-wrap overflow-auto"
      >
        {
          AVTech.map((tech: BadgeProps) => (
            <div class="md:w-1/3 sm:w-1/2 w-full px-4 py-2">
              <a href={tech.link} class="cursor-pointer text-black">
                <SkillsBadge {...tech} />
              </a>
            </div>
          ))
        }
      </div>
      <h3 class="text-2xl font-extrabold text-blue-600 my-2">
        Small Business Solutions
      </h3>
      <p class="text-md font-normal mb-4">
        With my interest in technology I've developed deep technology-related
        problem solving skills. This allows me to efficently put together
        solutions for small local businesses & organizations in the folowing
        areas:
      </p>
      <div class="flex items-center max-w-3xl m-auto flex-wrap overflow-auto">
        <!-- Skills Badge Table -->
        {
          SBTech.map((tech: BadgeProps) => (
            <div class="md:w-1/3 sm:w-1/2 w-full px-4 py-2">
              <a href={tech.link} class="cursor-pointer text-black">
                <SkillsBadge {...tech} />
              </a>
            </div>
          ))
        }
      </div>
    </div>
    <!-- Featured Work, needs to be reworked to have each card as a componenet... -->
    <div class="m-auto max-w-6xl px-6 lg:px-8 my-2">
      <h1 class="text-3xl font-extrabold text-blue-600 my-2">Featured Work</h1>
      <p class="mt-4 text-lg my-2">
        Take a look below at some of my recent work
      </p>
      <div>
        <ul class="flex flex-row flex-wrap mb-4 justify-center">
          {
            projects.map((projects) => (
                <BlogCard
                  title={projects.data.title}
                  description={projects.data.description}
                  date={projects.data.publishDate}
                  slug={projects.slug}
                  img={projects.data.img}
                  img_alt={projects.data.img_alt}
                  tags={projects.data.tags}
                /> 
              </>
            ))
          }
        </ul>
      </div>
    </div>
    <!-- Testing -->
    <div></div>
  </section>
</MainLayout>
